<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="styles/angular-ui-notification.min.css">
    <link rel="stylesheet" href="styles/xeditable.css">
  </head>
  <body ng-app="evalistApp" ng-controller="HomeCtrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
  <div ng-include="'views/components/navbar.html'"></div>
  
    <!-- Add your site or application content here -->
    <div class="main">
        <!-- Navigation Buttons -->
        <div id="navigation" class="col-md-2 col-md-offset-1">
            <div style="padding: 0px 11px 15px 10px;">
                <ul class="nav nav-pills nav-stacked" id="myTabs">
                    <li class="active"><a href="" ng-click="activateTodolist()">Notes</a></li>
                    <li><a ng-click="activateEntries()">Entries</a></li>
                </ul>
            </div>
        </div>
        <!-- To Do List -->
        <div id="todolist" class="col-md-6" >
            <div ui-view="todolist" ng-show="currentTodolist"></div>
        </div>
        <div ui-view="entries" ng-show="currentEntries"></div>
        
        <div id="sidebar" class="debug col-md-2">
            <div ui-view="sidebar" ng-show="true"></div>
        </div>
    </div>
    
     <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> by @YassineLanda</p>
      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    
    <script src="/_api/_files/hoodie.js"></script>
    <script src="scripts/vendor/hoodie.accountbar.bootstrap.js"></script>
    <script src="scripts/vendor/bootstrap.modalform.js"></script>
    <script src="scripts/vendor/angular-ui-notification.min.js"></script>
    <script src="scripts/vendor/xeditable.js"></script>
    
        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/home.js"></script>
        <script src="scripts/controllers/home/todolist.js"></script>
        <script src="scripts/controllers/home/entries.js"></script>
        <script src="scripts/controllers/home/category-dialog.js"></script>
        <script src="scripts/controllers/home/note-dialog.js"></script>
        <script src="scripts/components/category/category.service.js"></script>
        <script src="scripts/components/note/note.service.js"></script>
        <script src="scripts/components/logs/logs.service.js"></script>
        <script src="scripts/components/utils.js"></script>
        <!-- endbuild -->
        
        <script src="scripts/controllers/home/sidebar.js"></script>
</body>
</html>
